/* Hero */

.hero
  .hero-box
    .hero-item.altai-center
      // = image_tag "octocat.png", title: "Unboxed - A GitHub test.", alt: "hero image"
      = image_tag "icons/favorite.png"
.separator.extra-small
