/* User */

.separator.small
.user.altai-center
  .user-box
    .separator.small.glow
    = render partial: "lib/components/user", locals: { user: user }
    .user-item
      = link_to t("dashboard.clear"), root_path, class: "link extra-small altai-center"
