/* Index */

/* Hero */
.hero
  .hero-box
    .hero-item.altai-center
      = image_tag "octocat.png", title: "Unboxed - A GitHub test.", alt: "hero image"

.separator.extra-small

/* Content */
.content
  .content-box
    .content-item
      %h1.text-center= t("dashboard.title")
      %p.text-center= t("dashboard.description")
