// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Typography
// Project: Unboxed by IIGETHR
// -------------------------------------------------------------


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans;
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$double-extra-small} {
  h1 {
    font-size: 22px;
    line-height: 30px;
  }
  h2 {
    font-size: 18px;
    line-height: 26px;
  }
  h3 {
    font-size: 14px;
    line-height: 22px;
  }
  h4 {
    font-size: 12px;
    line-height: 20px;
  }
  h5 {
    font-size: 10px;
    line-height: 18px;
  }
  h6 {
    font-size: 8px;
    line-height: 16px;
  }
  p {
    font-family: $sans;
    font-size: 12px;
    line-height: 20px;
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$extra-small} {
  h1 {
    font-size: 24px;
    line-height: 32px;
  }
  h2 {
    font-size: 20px;
    line-height: 28px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4 {
    font-size: 14px;
    line-height: 22px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
  h6 {
    font-size: 10px;
    line-height: 18px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$small} {
  h1 {
    font-size: 24px;
    line-height: 32px;
  }
  h2 {
    font-size: 20px;
    line-height: 28px;
  }
  h3 {
    font-size: 16px;
    line-height: 24px;
  }
  h4 {
    font-size: 14px;
    line-height: 22px;
  }
  h5 {
    font-size: 12px;
    line-height: 20px;
  }
  h6 {
    font-size: 10px;
    line-height: 18px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$medium} {
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$large} {
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$extra-large} {
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$double-extra-large} {
}
