// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Forms
// Project: Unboxed by IIGETHR
// -------------------------------------------------------------

form {
  font-family: $sans;
  width: 720px;
  .easy-autocomplete {
    display: block;
    float: left;
    max-width: 100%;
    width: 100%;
    .easy-autocomplete-container {
      display: block;
      float: left;
      max-width: 100%;
      width: 100%;
      ul {
        @include clear-list;
        display: block;
        float: left;
        max-width: 100%;
        width: 100%;
        li {
          display: block;
          float: left;
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$double-extra-small} {
  form {
    font-size: 12px;
    width: 240px;
    .input {
      // Input
      [type="text"] {
        font-size: 12px;
      }
    }

    .submit {
      // Input
      [type="submit"] {
        font-size: 10px;
      }
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$extra-small} {
  form {
    font-size: 14px;
    width: 360px;
    .input {
      // Input
      [type="text"] {
        font-size: 14px;
      }
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$small} {
  form {
    font-size: 14px;
    width: 480px;
    .input {
      // Input
      [type="text"] {
        font-size: 14px;
      }
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$medium} {
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$large} {
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$extra-large} {
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$double-extra-large} {
}
