// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    Roles
// Project: Unboxed by IIGETHR
// -------------------------------------------------------------

.header {
  background-color: $white;
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$double-extra-small} {
  .header {
    padding: 8px;
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$extra-small} {
  .header {
    padding: 8px;
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$small} {
  .header {
    padding: 8px;
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$medium} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$large} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$extra-large} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$double-extra-large} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}
