/* Primary navigation */

.primary-navigation
  .primary-navigation-box
    .primary-navigation-item
      = link_to "Home", root_path, class: "link large gray"
    .primary-navigation-item
      = link_to "Poll", users_path, class: "link large gray"
