// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// File:    User
// Project: Unboxed by IIGETHR
// -------------------------------------------------------------

$class: "user";

.#{$class} {
  @include border-box;
  float: left;
  width: 720px;
  .#{$class}-box {
    @include border-box;
    float: left;
    padding: 8px;
    width: 100%;
    .#{$class}-item {
      @include border-box;
      @include border-corner(4px);
      background-color: $gray-000;
      // background: linear-gradient(0deg, $gray-200 0%, $gray-000 50%, $gray-200 100%);
      // border: 1px solid $gray-300;
      float: left;
      min-height: 104px;
      padding: 16px;
      width: 100%;
      .#{$class}-left {
        @include border-box;
        @include border-corner(4px);
        background-color: transparent;
        float: left;
        height: 72px;
        margin: 0 8px 0 0;
        width: 72px;
        img {
          @include border-corner(4px);
        }
      }
      .#{$class}-right {
        @include border-box;
        float: left;
        margin: 0 0 0 8px;
        min-height: 72px;
        width: 584px;
        p {
          width: auto;
        }
        span {
          font-size: 12px;
        }
      }
      .#{$class}-inner {
        @include border-box;
        float: left;
        width: 100%;
      }
    }
  }
}

// Media Query 240px
// -------------------------------------------------------------
@media #{$double-extra-small} {
  .#{$class} {
    width: 240px;
    .#{$class}-box {
      .#{$class}-item {
        .#{$class}-right {
          width: 104px;
        }
      }
    }
  }
}

// Media Query 360px
// ------------------------------------------------------------
@media #{$extra-small} {
  .#{$class} {
    width: 360px;
    .#{$class}-box {
      .#{$class}-item {
        .#{$class}-right {
          width: 224px;
        }
      }
    }
  }
}

// Media Query 480px
// -------------------------------------------------------------
@media #{$small} {
  .#{$class} {
    width: 480px;
    .#{$class}-box {
      .#{$class}-item {
        .#{$class}-right {
          width: 344px;
        }
      }
    }
  }
}

// Media Query 720px
// -------------------------------------------------------------
@media #{$medium} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 960px
// -------------------------------------------------------------
@media #{$large} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1440px
// -------------------------------------------------------------
@media #{$extra-large} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}

// Media Query 1920px
// -------------------------------------------------------------
@media #{$double-extra-large} {
  .#{$class} {
    .#{$class}-box {
      .#{$class}-item {
      }
    }
  }
}
